In [3]:
import numpy as np
import pandas as pd
from pandas import Grouper
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from statsmodels.tools.eval_measures import rmse
from sklearn.preprocessing import MinMaxScaler
from keras.preprocessing.sequence import TimeseriesGenerator
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.utils import *
import keras.metrics as metrics
import warnings
warnings.filterwarnings("ignore")

Using TensorFlow backend.

In [0]:
train_df = pd.read_excel("/content/drive/My Drive/Corona/Train_dataset (1).xlsx",sheet_name='Diuresis_TS')

In [0]:
people_ID = train_df.people_ID
train_cp = train_df.drop(columns=['people_ID'], axis=1)

In [0]:
cols = train_cp.columns

In [7]:
train_cp.describe()

         2020-03-20  ...    2020-03-26
count  10714.000000  ...  10714.000000
mean     278.877357  ...    981.255343
std       97.945646  ...    292.538346
min      110.000000  ...    468.461120
25%      194.000000  ...    729.203328
50%      276.000000  ...    973.388672
75%      364.000000  ...   1236.308736
max      450.000000  ...   1501.798080

[8 rows x 7 columns]

In [8]:
train_df.head()

   people_ID  2020-03-20 00:00:00  ...  2020-03-25 00:00:00  2020-03-26 00:00:00
0          1                  441  ...           1215.68992          1472.627904
1          2                  151  ...            492.91072           606.892864
2          3                  416  ...           1150.32832          1395.793984
3          4                  410  ...           1126.78720          1368.344640
4          5                  390  ...           1084.40800          1315.889600

[5 rows x 8 columns]

In [0]:
train_transpose = train_cp.transpose()

In [11]:
train_transpose.head()

                         0         1      ...     10712     10713
2020-03-20 00:00:00   441.0000  151.0000  ...  352.0000  181.0000
2020-03-21 00:00:00   544.2000  197.2000  ...  438.4000  230.2000
2020-03-22 00:00:00   669.6400  253.2400  ...  542.6800  290.4400
2020-03-23 00:00:00   821.3680  321.6880  ...  665.8160  366.3280
2020-03-24 00:00:00  1002.2416  399.9256  ...  814.6792  455.2936

[5 rows x 10714 columns]

In [0]:
train_transpose['date'] = train_transpose.index

In [0]:
train_transpose = train_transpose.reset_index(drop=True)

In [0]:
train_transpose = train_transpose.set_index(train_transpose.date)

In [0]:
train_transpose_copy = train_transpose.drop(columns=['date'], axis=1)

In [0]:
train, test = train_transpose_copy[:6], train_transpose_copy[6:]

In [29]:
test.shape

(1, 10714)

In [69]:
train.shape

(6, 10714)

In [0]:
scaler = MinMaxScaler()

In [71]:
scaler.fit(train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [72]:
scaler.fit(test)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [0]:
train = scaler.transform(train)
test = scaler.transform(test)

In [74]:
test.shape

(1, 10714)

In [0]:
n_input = 1
n_features = train.shape[1]

In [0]:
generator = TimeseriesGenerator(train, train, length=n_input, batch_size=1)

In [0]:
def create_model():
    model = Sequential()
    model.add(LSTM(200, activation='relu', input_shape=(1, 10714)))
    model.add(Dropout(0.15))
    model.add(Dense(train.shape[1]))
    model.compile(optimizer='adam', loss='mse')
    return model

In [0]:
model=create_model()

In [66]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_6 (LSTM)                (None, 200)               8732000
_________________________________________________________________
dropout_6 (Dropout)          (None, 200)               0
_________________________________________________________________
dense_6 (Dense)              (None, 10714)             2153514
=================================================================
Total params: 10,885,514
Trainable params: 10,885,514
Non-trainable params: 0
_________________________________________________________________

In [67]:
model.fit_generator(generator,epochs=70)

Epoch 1/70
5/5 [==============================] - 1s 283ms/step - loss: 0.7447
Epoch 2/70
5/5 [==============================] - 0s 28ms/step - loss: 0.4299
Epoch 3/70
5/5 [==============================] - 0s 20ms/step - loss: 0.2331
Epoch 4/70
5/5 [==============================] - 0s 20ms/step - loss: 0.1717
Epoch 5/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0864
Epoch 6/70
5/5 [==============================] - 0s 19ms/step - loss: 0.0951
Epoch 7/70
5/5 [==============================] - 0s 20ms/step - loss: 0.1448
Epoch 8/70
5/5 [==============================] - 0s 21ms/step - loss: 0.0632
Epoch 9/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0638
Epoch 10/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0934
Epoch 11/70
5/5 [==============================] - 0s 20ms/step - loss: 0.1074
Epoch 12/70
5/5 [==============================] - 0s 20ms/step - loss: 0.1852
Epoch 13/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0401
Epoch 14/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0890
Epoch 15/70
5/5 [==============================] - 0s 20ms/step - loss: 0.1699
Epoch 16/70
5/5 [==============================] - 0s 20ms/step - loss: 0.2675
Epoch 17/70
5/5 [==============================] - 0s 20ms/step - loss: 0.2622
Epoch 18/70
5/5 [==============================] - 0s 20ms/step - loss: 0.1238
Epoch 19/70
5/5 [==============================] - 0s 21ms/step - loss: 0.1494
Epoch 20/70
5/5 [==============================] - 0s 20ms/step - loss: 0.1240
Epoch 21/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0810
Epoch 22/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0281
Epoch 23/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0203
Epoch 24/70
5/5 [==============================] - 0s 21ms/step - loss: 0.0214
Epoch 25/70
5/5 [==============================] - 0s 19ms/step - loss: 0.0267
Epoch 26/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0341
Epoch 27/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0220
Epoch 28/70
5/5 [==============================] - 0s 20ms/step - loss: 0.1209
Epoch 29/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0953
Epoch 30/70
5/5 [==============================] - 0s 19ms/step - loss: 0.1477
Epoch 31/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0159
Epoch 32/70
5/5 [==============================] - 0s 20ms/step - loss: 0.1356
Epoch 33/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0354
Epoch 34/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0625
Epoch 35/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0879
Epoch 36/70
5/5 [==============================] - 0s 20ms/step - loss: 0.1639
Epoch 37/70
5/5 [==============================] - 0s 20ms/step - loss: 0.1486
Epoch 38/70
5/5 [==============================] - 0s 22ms/step - loss: 0.0917
Epoch 39/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0584
Epoch 40/70
5/5 [==============================] - 0s 20ms/step - loss: 0.1041
Epoch 41/70
5/5 [==============================] - 0s 19ms/step - loss: 0.0763
Epoch 42/70
5/5 [==============================] - 0s 19ms/step - loss: 0.0246
Epoch 43/70
5/5 [==============================] - 0s 21ms/step - loss: 0.0502
Epoch 44/70
5/5 [==============================] - 0s 19ms/step - loss: 0.0187
Epoch 45/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0629
Epoch 46/70
5/5 [==============================] - 0s 19ms/step - loss: 0.0845
Epoch 47/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0694
Epoch 48/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0725
Epoch 49/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0666
Epoch 50/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0803
Epoch 51/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0616
Epoch 52/70
5/5 [==============================] - 0s 19ms/step - loss: 0.0930
Epoch 53/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0255
Epoch 54/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0559
Epoch 55/70
5/5 [==============================] - 0s 19ms/step - loss: 0.1099
Epoch 56/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0679
Epoch 57/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0910
Epoch 58/70
5/5 [==============================] - 0s 21ms/step - loss: 0.2459
Epoch 59/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0418
Epoch 60/70
5/5 [==============================] - 0s 19ms/step - loss: 0.0634
Epoch 61/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0071
Epoch 62/70
5/5 [==============================] - 0s 19ms/step - loss: 0.0105
Epoch 63/70
5/5 [==============================] - 0s 21ms/step - loss: 0.0946
Epoch 64/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0712
Epoch 65/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0604
Epoch 66/70
5/5 [==============================] - 0s 19ms/step - loss: 0.0304
Epoch 67/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0411
Epoch 68/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0586
Epoch 69/70
5/5 [==============================] - 0s 20ms/step - loss: 0.0514
Epoch 70/70
5/5 [==============================] - 0s 20ms/step - loss: 0.1011